body {
    background-color: #333;
    color: #ccc;
}

html {
    touch-action: manipulation;
}

#main-content {
    margin: 20px;
}

.btn {
    color: #ccc;;
}

.btn-dark:not(:disabled):not(.disabled) {
    background-color: #444a50;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
    background-color: #646a70;
}

#evidence {
}

.btn-xl {
    font-size: 10pt;
    padding: 10px 10px;
}

#menu {
    margin-bottom: 15px;
}

.btn-menu,#resetButton {
    font-size: 10pt;
}

#ghosts {
    font-size: 10pt;
}

#ghostEvidence {
    float: right;
}

#ghostEvidence,#ghostEvidence .badge {
    font-size: 10pt;
}

.btn-evidence {
    width: 100%;
    margin-bottom: 20px;
    font-size: 11pt;
}

#evidencePossibleContainer,#evidencePossible,#evidencePossible .badge {
    font-size: 11pt;
    padding: 5px;
    margin-bottom: 5px;
}

.evidence-icon {
    font-size: 11pt;
    margin-top: 5px;
}

.eliminate-icon {
    font-size: 11pt;
    color: #dc3545;
}

.btn-evidence > .sub-container {
    padding: 5px 5px;
}

.btn-evidence > .evidence-name {
    position: relative;
    top: 5px;
}

.btn-evidence > .eliminate-lock {
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-device-width: 768px) and (-webkit-device-pixel-ratio: 2) {
    .btn-xl {
        padding: 20px 30px;
        font-size: 30px;
        border-radius: 10px;
    }

    #ghosts {
        font-size: 18pt;
    }

    #ghostEvidence,#ghostEvidence .badge {
        font-size: 20pt;
    }

    .btn-menu,#resetButton {
        font-size: 18pt;
    }

    #evidencePossibleContainer,#evidencePossible,#evidencePossible .badge {
        font-size: 18pt;
        padding: 5px;
        margin-bottom: 5px;
    }

    .evidence-icon {
        font-size: 20pt;
        margin-top: 10px;
    }

    .eliminate-icon {
        font-size: 20pt;
    }

    .btn-evidence {
        padding-left: 17px;
        padding-right: 12px;
    }
}

@media screen and (max-device-width: 768px) {
    .btn-xl {
        padding: 10px 10px;
        font-size: 30px;
        border-radius: 10px;
    }

    #ghosts {
        font-size: 18pt;
    }

    #ghostEvidence,#ghostEvidence .badge {
        font-size: 20pt;
    }

    .btn-menu,#resetButton {
        font-size: 18pt;
    }

    #evidencePossibleContainer,#evidencePossible,#evidencePossible .badge {
        font-size: 18pt;
        padding: 5px;
        margin-bottom: 5px;
    }

    .evidence-icon {
        font-size: 20pt;
        margin-top: 10px;
    }

    .eliminate-icon {
        font-size: 20pt;
    }

    .btn-evidence {
        padding-left: 17px;
        padding-right: 12px;
    }
}